In [1]:
""" 
# ALURA - Desafio: 7DaysOfCode
#
# Processo de importação dos dados
"""
import pandas as pd
#
pd.options.display.max_rows = 10000
pd.options.display.max_columns = 30
#
_dicNomeDF   = dict()
_strPathData = 'D:/Users/rtoni/OneDrive/Git-Dados/Projetos/7DaysOfCode.io/'
_strDB_Emprestimo = 'DB_Emprestimo_Bruto'
_strDB_ArqTratado = 'DB_Emprestimo_Tratado'
_strDB_CadLivros  = 'DB_CadLivros'
_strExtArquivo    = '.csv'
_strURL = 'https://raw.githubusercontent.com/RogerioTonini/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-'
_lstDataFrames = []

In [2]:
for _intAno in range(2010, 2021):   # Faixa de Anos que serão analisados: 2010 - 2020
    for _intQtdArqs in range(1, 3): # Quantidade de arquivos por Ano = 2
        #
        _strURL_Arq = f"{_strURL}{str(_intAno)}{str(_intQtdArqs)}{_strExtArquivo}?raw=true"
        _strNomeDF  = f'df_{str(_intAno)}_{str(_intQtdArqs)}'
        #
        try:
            _dicNomeDF[_strNomeDF] = pd.read_csv(_strURL_Arq, sep=",")
        except Exception as e:
            continue
# Itera os itens do dicionário, adicionando cada VALOR que corresponde ao UM DataFrame à lista.
[_lstDataFrames.append(df) for nome_dataframe, df in _dicNomeDF.items()] 
#
# Concatena todos os DataFrames em um ÚNICO DataFrame.
df_Emprestimo = pd.concat(_lstDataFrames, ignore_index=True)     # Unifica todos os DataFrames da lista em um único DataFrame
df_Emprestimo.to_csv(_strPathData + _strDB_Emprestimo + _strExtArquivo, header=True, index=False, sep=';')

df_CadLivros = pd.read_parquet('https://github.com/RogerioTonini/7_Days_of_Code_Alura-Python-Pandas/raw/main/Dia_1-Importando_dados/Datasets/dados_exemplares.parquet')
df_CadLivros.to_csv(_strPathData + _strDB_CadLivros + _strExtArquivo, header=True, index=False, sep= ';')

print('Processo de geração dos arquivos finalizado!!!')

Processo de geração dos arquivos finalizado!!!

In [3]:
""" 
# Carga dos Dados para os DataFrames
# Demonstra informações dados do Cadastro de Livros
"""
df_Emprestimo = pd.read_csv(_strPathData + _strDB_Emprestimo + _strExtArquivo, sep=';', engine='c')
df_CadLivros  = pd.read_csv(_strPathData + _strDB_CadLivros + _strExtArquivo, sep=';', engine='c')

df_CadLivros.info()
df_CadLivros.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 546237 entries, 0 to 546236
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id_exemplar       546237 non-null  int64
 1   codigo_barras     546237 non-null  object
 2   colecao           546237 non-null  object
 3   biblioteca        546237 non-null  object
 4   status_material   546237 non-null  object
 5   localizacao       546237 non-null  int64
 6   registro_sistema  546237 non-null  int64
dtypes: int64(3), object(4)
memory usage: 29.2+ MB

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
4,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15

In [4]:
""" 
# Demonstra informações dados da Base de Emprestimos
"""
df_Emprestimo.info()
df_Emprestimo.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2258018 entries, 0 to 2258017
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
dtypes: float64(1), int64(1), object(5)
memory usage: 120.6+ MB

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO

In [5]:
""" 
# Processo de tratamento dos dados Livros Emprestados
# Converte as colunas que contém Data/Hora para Datatime
""" 
df_Emprestimo['data_emprestimo'] = pd.to_datetime(df_Emprestimo['data_emprestimo'])
df_Emprestimo['data_devolucao']  = pd.to_datetime(df_Emprestimo['data_devolucao'])
df_Emprestimo['data_renovacao']  = pd.to_datetime(df_Emprestimo['data_renovacao'])

df_Emprestimo.info()
df_Emprestimo.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2258018 entries, 0 to 2258017
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        datetime64[ns]
 3   data_emprestimo       datetime64[ns]
 4   data_devolucao        datetime64[ns]
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
dtypes: datetime64[ns](3), float64(1), int64(1), object(2)
memory usage: 120.6+ MB

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaT,2010-01-04 07:44:10.721,2010-01-05 16:26:12.662,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaT,2010-01-04 07:44:10.750,2010-01-12 07:34:13.934,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010-01-26 08:07:01.738,2010-01-04 08:08:44.081,2010-02-25 07:36:25.800,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010-01-18 11:07:46.470,2010-01-04 08:24:21.284,2010-02-03 08:58:45.692,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaT,2010-01-04 07:44:10.721,2010-01-05 16:26:12.662,2.008023e+09,ALUNO DE GRADUAÇÃO

In [6]:
""" 
# Verifica a quantidade total de registros duplicados 
"""
df_Emprestimo.value_counts()

id_emprestimo  codigo_barras  data_renovacao           data_emprestimo          data_devolucao           matricula_ou_siape  tipo_vinculo_usuario
709704         2006021442     2010-01-17 18:56:43.923  2010-01-04 09:58:46.522  2010-02-01 13:59:02.528  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709705         2009032168     2010-01-17 18:56:43.909  2010-01-04 09:58:46.549  2010-01-20 13:14:34.464  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709698         2009047725     2010-01-18 14:44:41.163  2010-01-04 09:21:19.099  2010-02-02 12:02:38.444  2.009047e+09        ALUNO DE GRADUAÇÃO        3
709686         2006017618     2010-01-26 08:07:01.738  2010-01-04 08:08:44.081  2010-02-25 07:36:25.800  2.008112e+09        ALUNO DE PÓS-GRADUAÇÃO    2
2461099        2012008348     2016-06-27 20:35:46.855  2016-06-14 11:20:33.254  2016-07-11 14:37:29.000  2.015022e+09        ALUNO DE GRADUAÇÃO        2
                                                                                                                                                      ..
1443389        2011018954     2013-03-22 13:18:55.037  2013-03-07 11:21:26.480  2013-04-08 20:26:07.000  2.010046e+09        ALUNO DE GRADUAÇÃO        1
1443390        2009056314     2013-03-21 09:28:45.689  2013-03-07 11:21:28.899  2013-04-05 18:18:00.000  2.011015e+09        ALUNO DE GRADUAÇÃO        1
1443393        2012037906     2013-03-20 20:17:10.574  2013-03-07 11:24:19.326  2013-03-25 08:58:44.000  2.011038e+09        ALUNO DE GRADUAÇÃO        1
1443395        2011033069     2013-04-07 01:06:51.679  2013-03-07 11:25:22.661  2013-05-07 16:19:34.000  2.011106e+09        ALUNO DE PÓS-GRADUAÇÃO    1
10322328       2014070441     2018-01-15 12:26:00.697  2017-12-29 18:21:09.060  2018-01-31 18:50:25.000  2.014063e+09        ALUNO DE GRADUAÇÃO        1
Name: count, Length: 968028, dtype: int64

In [7]:
"""
# Exclui os registros duplicados 
"""
df_Emprestimo = df_Emprestimo.drop_duplicates(keep='first')
df_Emprestimo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2257981 entries, 0 to 2258017
Data columns (total 7 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        datetime64[ns]
 3   data_emprestimo       datetime64[ns]
 4   data_devolucao        datetime64[ns]
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
dtypes: datetime64[ns](3), float64(1), int64(1), object(2)
memory usage: 137.8+ MB

In [8]:
""" 
# Faz o JOIN entre as tabelas gerando o Dataframe df_Emprestimo_Tratado
"""
df_Emprestimo_Tratado = df_Emprestimo.merge(df_CadLivros)

df_Emprestimo_Tratado.info()
df_Emprestimo_Tratado.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2072522 entries, 0 to 2072521
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        datetime64[ns]
 3   data_emprestimo       datetime64[ns]
 4   data_devolucao        datetime64[ns]
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
 7   id_exemplar           int64
 8   colecao               object
 9   biblioteca            object
 10  status_material       object
 11  localizacao           int64
 12  registro_sistema      int64
dtypes: datetime64[ns](3), float64(1), int64(4), object(5)
memory usage: 205.6+ MB

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaT,2010-01-04 07:44:10.721,2010-01-05 16:26:12.662,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,726965,L095049,2010-03-31 12:41:08.684,2010-03-01 12:40:56.212,2010-04-30 14:42:35.366,2.009122e+09,ALUNO DE PÓS-GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
2,709685,L167050,NaT,2010-01-04 07:44:10.750,2010-01-12 07:34:13.934,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
3,717763,L167050,NaT,2010-02-11 11:16:30.335,2010-03-04 08:54:32.262,2.008050e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
4,729996,L167050,2010-03-17 09:08:26.874,2010-03-04 13:36:26.599,2010-03-31 18:04:29.669,2.007226e+08,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009

In [9]:
""" 
# Salva a base de dados DB_Emprestimo em Disco como DB_Emprestimo_Tratado
"""
_blnFim = False
while not _blnFim:
    try:
        df_Emprestimo_Tratado.to_csv(f'{_strPathData}{_strDB_ArqTratado}{_strExtArquivo}', header=True, index=False, sep=';')
        _blnFim = True
        print('Arquivo gerado com sucesso!!!')    
    except OSError as e:
        print('Não foi possível realizar a gravação arquivo com os dados atualizados!!!')

Arquivo gerado com sucesso!!!